

// Style Added By Ashutosh

.overlay{
    &-outer{
        position: relative;
    }
    &-icon{
        position: absolute;
        @include font-size(300px);
        z-index: 100;
        color: white;
        transform: rotate(20deg);
        opacity: 0.1;
        top: 60px;
    }
  }
  
  // -----------------------