

// Style Added By Ashutosh

.overlay{
    &-outer{
        position: relative;
    }
    &-icon{
        // z-index: 1;
        position: absolute;
        display: flex;
            &-paw{
                @include font-size(250px);
                top: 60px;
                left: 20px;
            }
            &-cat{
                left: 10%;
            }
            &-bowl{
                // left: 10%;
                font-size: 150px;
                right: 0;
                bottom: -38px;
            }
            &-dog{
                right: 10%;
                bottom: -18px;
            }
            &-shape1{
                font-size: 180px;
                bottom: 0;
                left: 0;
            }
            &-shape2{
                font-size: 210px;
                top: 0;
                right: 0;
            }
            &-bone1{
                top: 50%;
                transform: translateY(-50%);
                left: 25%;
                font-size: 50px;
            }
            &-bird1{
                top: 60px;
                left: 10%;
                font-size: 110px;
            }
            &-sponsor1{
                top: 220px;
                left: -90px;
                font-size: 220px;
            }
            &-horse{
                top: 220px;
                right: -90px;
                font-size: 280px;
            }
    }
    &-bg{
        &-dark{
            color: $overlay-1;
        }
        &-lblue{
            color: $primary-light;
        }
        &-lighterBlue{
            color: $primary-lighter;
        }
        &-lpink{
            color: $pink-light;
        }
    }
  }

  .overlay-welcome{
    position: absolute;
    top: -2px;
    z-index: 4;
    width: 100%;
    right: 0;
}

  .overlay-half-bg{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
  }

  .overlay-icon-cat, .overlay-icon-dog{   
    position: absolute;
    font-size: 150px;
  }

  .h-400{
      height: 400px;
  }

  .pt-100{
      padding-top: 100px;
  }
  .p-40{
      padding: 40px;
  }
  .btn-med-pad{
      padding: 12px 22px;
  }
  .z-0{
      z-index: 0;
  }
  .z-1{
      z-index: 1;
  }
  .z-2{
      z-index: 2;
  }
  .z-3{
      z-index: 3;
  }
  .top-0{
      top: 0;
  }
  .bottom-0{
      bottom: 0;
  }
  .volunteer-sec{
    &-inner{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-gradient{
        @include gradient(top, $white_to_opac);
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &-overlay{
        background-color: $dark-overlay;
        h2, h5, h6{
            color: $white !important;
        }
    }
  }
.home-slider{
    &-overlay{
        background: rgba(0,116,163,0.6);
        border-radius: 3em;
    }
}
.swiper-btn-prev, .swiper-btn-next{
    position: absolute;
    z-index: 1;
    display: flex;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 3rem;
    background-color: $primary-bright;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.swiper-icon-prev, .swiper-icon-next{
    position: absolute;
    color: $white;
}
.swiper{
    &-btn{
        &-prev{
            left: 0;
            transform: translate(-50%, -50%);
        }
        &-next{
            right: 0;
            transform: translate(50%, -50%);
        }
    }
    &-icon{
        &-prev{
            right: 10px;
        }
        &-next{
            left: 10px;
        }
    }
}


  // -----------------------



//   Header For Our team 

.header-inner .header-inner-nav.page-menu-top {
    top: 100px;
}